<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<img src="{% static 'images/background.jpg' %}" alt="A black and gold vector design background image" id="bgimage">
<div class="content">
<header>
    <h1 class="main">
        We Hope You Choose us to help you on your fitness journey
    </h1>
    <nav>
        <ul class="list-inline navfont">
            {% if user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link" href="booking">Welcome, {{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'booking' %}">Book Here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>

            {% else %}
      

            <li class="nav-item">
                <a class="nav-link" href="register">Register Here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login Here</a>
            </li>
            {% endif %}
</header>
<body>
    <div class="container py-5">
        <h2 class="secondhead">Register</h2>
        <form method="POST" action="register" class="mainparagraph list-form">
            {% csrf_token %}
            {{ register_form.as_p}}
            <button class="btnprime" type="submit">Register</button>
        </form>
        <p class="mainparagraph">
            If you already have an account, <a class="nav-link" href="{% url 'login' %}">login</a> instead.
        </p>
        <div>
            {% for message in messages %}
            <h3 class="error"> {{message}} </h3>
            {% endfor %}
          </div>
</div>
</body>
</html>