/* Font Imports and application */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway&display=swap');


/* Class Styling for Headings and Paragraphs */

.main{
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.secondhead{
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.thirdhead{
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bookingLink{
    text-transform: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainparagraph{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.error{
  text-decoration: underline;
  color: brown;
  background-color: #06f;
  width: 13%;
}

/* Styling for navigation items */

.navfont{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-link{
  color:whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-link:hover {
  color: chocolate;
}


/* Styling for content */

.content {
  
  background-color: rgba(67, 79, 78, 0.6);
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Table specific styling */

.tablemain {
    width: 100%;

}

/* Element Specific Styling */

li {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    display: inline;
    
}

.list-form{
  
  display: block;
  
}


footer, ul {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: none;
    text-decoration: none;
}

/* Button and clickable items styling */

.btnprime {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btnprime:disabled {
  pointer-events: none;
}

.btnprime:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnprime:active {
  box-shadow: none;
  transform: translateY(0);
}


.btneddel {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btneddel:focus {
  color: #171e29;
}

.btneddel:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.btneddel:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}


/* Background and Image styling */

#bgimage {
  width: 100%;
  width: 100%;
  position: fixed;
  z-index: -5;
}

body{
  background-color: darkgoldenrod;
}

/* Reactive code */
@media screen and (max-width:700px ) {

  .main{
    text-align: center;
}

.secondhead{
  text-align: center;
}

.thirdhead{
  text-align: center;
}

.bookingLink{
    text-transform: none;
    text-decoration: none;
    text-align: center;
    
}

.mainparagraph{
  text-align: center;
}

/* Styling for navigation items */

.navfont{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
}

.nav-link{
  color:whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-link:hover {
  color: chocolate;
}

/* Table specific styling */

.tablemain {
    width: 100%;
    text-align: center;
    display: inline-table;
}

/* Element Specific Styling */

#list-inline, li {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline;
    
}

footer, ul {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: none;
    text-decoration: none;
}



}