<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <header>
        <h1>
            Book Your Classes and Assessments here!
        </h1>
        <h2>
            Meet our Trainers!
        </h2>
    </header>
    <section>
    <h2>
        Book a HIIT Class
    </h2>
    <h3>
        Lukas' Classes
    </h3>
    <table>
            {% for item in hiitclasses %}
                <tr>
                    <td>{{ item.focus }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            {% endfor %}
    </table>
    <table>
        {% for item in hittstudent %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.trainer }}</td>
                <td>{{ item.focus }}</td>
                <td>{{ item.time }}</td>
            </tr>
        {% endfor %}
</table>
    <h3>
        Fionas Classes
    </h3>
    <table>
        {% for item in hiitclasses %}
            <tr>
                <td>{{ item.focus }}</td>
                <td>{{ item.time }}</td>
            </tr>
        {% endfor %}
    </table>
    </section>
    <section>
    <h2>
        Book a Spin Class
    </h2>
    </section>
    <section>
    <h2>
        Book an Assessment
    </h2>
    <table>
        {% for item in hittclass %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.trainer }}</td>
                <td>{{ item.focus }}</td>
            </tr>
            <td>
                <a href="/editing/{{ item.id }}">
                    <button>
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <a href="/deleting/{{ item.id }}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        {% endfor %}
    </table>
    <h5>
        <a href="{% url 'bookingin' %}">Book your slot!</a>
    </h5>
    </section>
    <section>
    <h2>
        Book a Personal Training Session
    </h2>
    <h5>
        <a href="{% url 'bookingin' %}">Book your slot!</a>
    </h5>
    </section>
</body>
</html>