<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <header>
        <h1>
            Book Your Classes and Assessments here!
        </h1>
    </header>
    <h2>
        Book a HIIT Class
    </h2>
    <h2>
        Book a Spin Class
    </h2>
    <h2>
        Book an Assessment
    </h2>
    <h2>
        Book a Personal Training Session
    </h2>
</body>
</html>