<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <img src="{% static 'images/background.jpg' %}" alt="A black and gold vector design background image" id="bgimage">
    <header>
        <h1 class="main">
            Book Your Classes and Assessments here!
        </h1>
        <nav>
            <ul class="navbar-nav mr-auto list-inline navfont">
                {% if user.is_authenticated %}
                
                <li class="nav-item">
                  <a class="nav-link" href="booking">Welcome, {{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'booking' %}">Book Here</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
    
                {% else %}
          
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'booking' %}">Book Here</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="register">Register Here</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="login">Login Here</a>
                </li>
                {% endif %}
        </nav>
    </header>
    <section>
    <h2 class="secondhead">
        Check out our HIIT Class Schedule
    </h2>
    <div>
    <table class="mainparagraph" class='tablemain'>
                {% for item in hiitclasses %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.focus }}</td>
                    <td>{{ item.time }}</td>
                
                
                <td>
                    <a href="/editinghiit/{{ item.id }}">
                        <button class="btneddel">
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/deletinghiit/{{ item.id }}">
                        <button class="btneddel">
                            Delete
                        </button>
                    </a>
                </td>
                </tr>
            {% endfor %}
    </table>
    </div>
    <h5 class="bookingLink">
        <a class="nav-link" href="{% url 'spinclasses' %}">Book your slot!</a>
    </h5>
    <section>
    <h2 class="secondhead">
        Here are our Spin Classes
    </h2>
    <table class="mainparagraph">
        {% for item in SpinClass %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.genre }}</td>
                <td>{{ item.time }}</td>
            
            <td>
                
                <td>
                    <a href="/editingspin/{{ item.id }}">
                        <button class="btneddel">
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/deletingspin/{{ item.id }}">
                        <button class="btneddel">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h5 class="bookingLink">
        <a class="nav-link" href="{% url 'spinclasses' %}">Book your slot!</a>
    </h5>
    </section>
    <section>
    <h2 class="secondhead">
        Book an Assessment
    </h2>
    <table class="mainparagraph">
        {% for item in hittclass %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.trainer }}</td>
                <td>{{ item.focus }}</td>
            
            <td>
                <a href="/editing/{{ item.id }}">
                    <button class="btneddel">
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <a href="/deleting/{{ item.id }}">
                    <button class="btneddel">
                        Delete 
                    </button>
                </a>
            </td>
            </tr>
        {% endfor %}
    </table>
    <h5 class="bookingLink">
        <a class="nav-link" href="{% url 'bookingin' %}">Book your slot!</a>
    </h5>
    </section>
    <section>
        <h2 class="secondhead">
            Book A Personal Training Session
        </h2>
        <table class="mainparagraph">
            {% for item in ptClass %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.trainer }}</td>
                    <td>{{ item.focus }}</td>
                    <td>{{ item.time }}</td>
                
                <td>
                    <a href="/editingpt/{{ item.id }}">
                        <button class="btneddel">
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/deletingpt/{{ item.id }}">
                        <button class="btneddel">
                            Delete
                        </button>
                    </a>
                </td>
                </tr>
            {% endfor %}
        </table>
        <h5 class="bookingLink">
            <a class="nav-link" href="{% url 'bookinginSes' %}">Book your slot!</a>
        </h5>
        </section>
<footer>
</footer>