<div class="modal fade" id="deleteHiitModel" tabindex="-1" aria-labelledby="deleteHiitModalLabel" aria-hidden="true" style="display:none;"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteHiitModalLabel">Delete Your booking?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <H2 class="secondhead">
          Are you sure you wish to delete?
        </H2>
        <form action="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <a href="">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </a>
          <a href="/deleting/{{ item.id }}">
          <button type="submit" class="btn btn-primary">Confirm Delete</button>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  const dltbutton = document.getElementById('dltbutton');
  const deleteModel = document.getElementById('deleteHiitModel');
  dltbutton.addEventListener('click', function(){
    if(deleteModel.style.display === 'none'){
      deleteModel.style.display = 'block';
    }
    else{
      deleteModel.style.display = 'none';
    }
  })
</script>