<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
</head>
<header>
    <h1>
        Edit Your Booking
    </h1>
    <nav>
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="booking">Welcome, {{user.username}}</a>
            </li>
      
            {% else %}
      
            <li>
                <a href="{% url 'booking' %}">Book Here!</a>
            </li>
            <li>
                <a href="register">Register Here</a>
            </li>
            <li>
                <a href="login">Login Here</a>
            </li>
            {% endif %}
    </nav>
</header>
<body>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
            <button type="submit" onclick="alert('Your booking has been changed!')">Edit Your Booking</button>
            </p>
        </div>
    </form>



</body>
</html>