<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
</head>
<header>
    <h1>
        Edit Your Booking
    </h1>
</header>
<body>

    <form method="POST">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name</label>
                <input type="text" id="id_name" name="item_name">
            </p>
        </div>
        <div>
            <p>
                <label for="id_trainer">Trainer</label>
                <input type="text" id="id_trainer" name="item_trainer">
            </p>
        </div>
        <div>
            <p>
                <label for="id_focus">Focus</label>
                <input type="text" id="id_focus" name="item_focus">
            </p>
        </div>
        <div>
            <p>
            <button>Edit Your Booking</button>
            </p>
        </div>
    </form>



</body>
</html>