<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<img src="{% static 'images/background.jpg' %}" alt="A black and gold vector design background image" id="bgimage">
<div class="content">
<header>
    <h1 class="main">
        Add a new Hiit Class 
    </h1>
    <li>
        <a class="nav-link" href="{% url 'booking' %}">Home</a>
    </li>
</header>
<body>
<!-- Form to add Hitt classes Bookings -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
            <button class="btnprime" type="submit" onclick="alert('New Class Added')">Add the new class</button>
            </p>
        </div>
    </form>

</body>
</div>
</html>