{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <img src="{% static 'images/background.jpg' %}" alt="A black and gold vector design background image" id="bgimage">
    <header>
    <h1 class="main">Find Your Shape</h1>
    <nav>
        <ul class="list-inline navfont">
            {% if user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link" href="booking">Welcome, {{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'booking' %}">Book Here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>

            {% else %}
      
            <li class="nav-item">
                <a class="nav-link" href="{% url 'booking' %}">Book Here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register Here</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login Here</a>
            </li>
            {% endif %}
    </nav>
    </div>    
    </header>
    <h2 class="secondhead">Welcome to Find Your Shape!</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h3 class="thirdhead">What is Find Your Shape?</h3>

                    <p class="mainparagraph">
                    Find Your Shape is a Private, Personable and Professional Gym with the Experiance, Expertise and Excellence required to help you reach your goals.  
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                
                    <h3 class="thirdhead">Our Mission Goals</h3>

                    <p class="mainparagraph">
                        We don't want you to stop coming after the first week. We want you to know that everyones fitness journey, life and body are different and everyone
                        needs different motivation. We pride ourselves in being driven by your goals, not by the every day ideals. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                
                    <h3 class="thirdhead">Our Guarantee</h3>

                    <p class="mainparagraph">
                        We will support you as a team and your training partners, we understand that sometimes you'll fall off the cart, but we'll be right there to help you get back
                        and keep working toward what your goals are. 
                    </p>
                </div>
            </div>
    <footer>

    </footer>
</body>
</html>