<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<img src="{% static 'images/background.jpg' %}" alt="A black and gold vector design background image" id="bgimage">
<header>
    <h1 class="main">
        Please Log In
    </h1>
    <li>
        <a class="nav-link" href="{% url 'booking' %}">Home</a>
    </li>
</header>
<body>
    <div class="container py-5">
        <h2>Login</h2>
        <form method="POST">
          {% csrf_token %}
          {{ login_form.as_p }}
          <button class="btnprime" type="submit" onclick="alert('Thank you for logging in')">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
      </div>
</body>
</html>