<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Shape</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<img src="{% static 'images/background.jpg' %}" alt="A black and gold vector design background image" id="bgimage">
<header>
    <h1 class="main">
        We Hope You Choose us to help you on your fitness journey
    </h1>
</header>
<body>
    <div>
        <h2 class="secondhead">Register</h2>
        <form method="POST">
            {% csrf_token %}
            {{ register_form.as_p}}
            <button class="btnprime" type="submit" onclick="alert('Thank You for signing up, lets find your shape!')">Register</button>
        </form>
        <p class="mainparagraph">
            If you already have an account, <a href="login">login</a> instead.
        </p>
</body>
</html>